.section__img {
  background-image: url(/pictures/AdobeStock_291280414.jpeg);
}

.background {
  color: white;
}
.background__img {
  border-radius: 10%;
  border: 10px solid silver;
}
.background__box {
  padding: 40px;
  background-color: rgba(124, 131, 166, 0.5);
  border: 10px solid silver;
  border-radius: 50px;
}
.background__header {
  margin-bottom: 50px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
}
.background__text {
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
  font-weight: light 300;
}
