.footer__box {
  background-color: #222059;
}
.footer__icons {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}
.footer__icons--spin:hover {
  animation: fa-spin 0.75s 0.5 linear;
}
.footer__icons--white {
  color: white;
}
@media only screen and (max-width: 540px) {
  .footer__icons--white {
    font-size: 1.5em !important;
  }
}
.footer__icons--white:hover {
  color: #AB1FFF;
  text-shadow: 0 0 10px #7C83A6;
}
.footer__head {
  display: flex;
  justify-content: center;
}
.footer__head--white {
  color: white;
}
.footer__head--border {
  padding: 10px;
  background-color: rgba(124, 131, 166, 0.5);
  border: 10px solid silver;
  border-radius: 50px;
}
.footer__cr {
  display: flex;
  justify-content: space-around;
  padding: 0px 30px 10px 30px;
  color: white;
  font-weight: bold;
}
@media only screen and (max-width: 540px) {
  .footer__cr {
    font-size: 10px;
  }
}
