.projects__img {
  background-image: url(/pictures/wall2.jpeg);
}
.projects__container {
  padding-top: 22%;
  padding-bottom: 25%;
}
.projects__text {
  font-size: 3.5vw;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
}
