.skill {
  color: white;
}
.skill__box {
  padding: 50px;
  background-color: rgba(124, 131, 166, 0.5);
  border: 10px solid silver;
  border-radius: 50px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
}
.skill__icons {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 0px 30px 10px 30px;
}
@media only screen and (max-width: 540px) {
  .skill__icons--media {
    font-size: 1.5em !important;
  }
}
.skill__icons--html:hover {
  color: orange;
  text-shadow: 0 0 10px #7c83a6;
  filter: contrast(200%) brightness(100%);
}
.skill__icons--css:hover {
  color: #5555ec;
  text-shadow: 0 0 10px #7c83a6;
  filter: contrast(200%) brightness(100%);
}
.skill__icons--sass:hover {
  color: #dc7889;
  text-shadow: 0 0 10px #7c83a6;
  filter: contrast(200%) brightness(100%);
}
.skill__icons--git:hover {
  color: #353434;
  text-shadow: 0 0 10px #7c83a6;
  filter: contrast(200%) brightness(100%);
}
.skill__icons--term:hover {
  color: #d4d454;
  text-shadow: 0 0 10px #7c83a6;
  filter: contrast(200%) brightness(100%);
}
.skill__icons--boot:hover {
  color: rgba(69, 33, 69, 0.753);
  text-shadow: 0 0 10px #7c83a6;
  filter: contrast(200%) brightness(100%);
}
.skill__icons--react:hover {
  color: rgba(27, 149, 153, 0.753);
  text-shadow: 0 0 10px #7c83a6;
  filter: contrast(200%) brightness(100%);
}
.skill__icons--node:hover {
  color: #1a9d1a;
  text-shadow: 0 0 10px #7c83a6;
  filter: contrast(200%) brightness(100%);
}
.skill__icons--fire:hover {
  color: rgba(194, 56, 25, 0.753);
  text-shadow: 0 0 10px #7c83a6;
  filter: contrast(200%) brightness(100%);
}
