.section{
    &__img{
      background-image: url(/pictures/AdobeStock_291280414.jpeg);
    }
    
}
.background{
  color:white;
    &__img{
    border-radius: 10%;
    border:10px solid silver;
    margin-left:125px;
  }

  &__box{
    padding:40px;
    background-color:rgba(124, 131, 166, 0.5);
    border: 10px solid silver;
    border-radius: 50px;
  }

  &__header{
    margin-bottom:50px; ;
  }


}
