.footer{

  &__box{
    background-color: rgb(34, 32, 89);
     
  }
  &__icons{
    display:flex;
    justify-content: space-evenly;
    padding:30px;

    &--spin{
      &:hover{
        animation: fa-spin 0.75s 0.5 linear;
      }
      // &{
      //   animation: fa-spin 0.75s 1 reverse;
      // }
    } 

    &--white{
      color:white;

      @media only screen and (max-width: 540px){
        font-size: 1.5em !important;
      }
        
      
      &:hover{
        color:#AB1FFF;
        text-shadow: 0 0 10px #7C83A6;
      }  
    }
    
    
  }
  &__head{
    display:flex;
    justify-content: center;

    &--white{
      color:white;
    }
    
    &--border{
      padding:10px;
      background-color:rgba(124, 131, 166, 0.5);
      border: 10px solid silver;
      border-radius: 50px;
    }

  }

  &__cr{
    display:flex;
    justify-content: space-around;
   padding:0px 30px 10px 30px; 
   color:white;
   font-weight: bold;
   @media only screen and (max-width: 540px){
    font-size: 10px;
  }

  }


}