.nav-bar {
    margin: 50px;
    background: transparent;

    &__item {
        margin: 10px 50px;
        &--white {
            color: white !important;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            letter-spacing: 4px;
            border: rgba(0, 0, 0, 0.152);
            background-color: rgba(0, 0, 0, 0.344);
            border-radius: 10px;
            padding: 5px;
            &:hover {
                color: #9870ef !important;
            }
        }
    }
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(192,192,192)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: white;
}
